
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 70rem;
}.slide-16-9-1-R1w {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #eec9d2;

  .auto-group-zv9d-FWm {
    width: 84.0657rem;
    height: 113.16rem;
    position: relative;
    flex-shrink: 0;

    .recipe-qdP {
      font-size: 5.68rem;
      font-weight: 400;
      font-family: Architects Daughter, 'Source Sans Pro';
      white-space: nowrap;
      text-transform: uppercase;
      color: #4c4c4c;
      width: 19.3rem;
      height: 7.9rem;
      position: absolute;
      left: 5.2rem;
      top: 7.1rem;
      line-height: 1.39;
    }
    .rectangle-1-HVP {
      height: 18.6rem;
      position: absolute;
      left: 5.2rem;
      top: 15.8rem;
      background-color: #eee3e7;
      border-radius: 2.1rem;
      width: 19.3rem;
    }
    .cook-time--NWq {
      white-space: nowrap;
      height: 2.8rem;
      position: absolute;
      left: 6.7rem;
      top: 18.2rem;
      font-size: 2rem;
      line-height: 1.39;
      color: #626262;
      width: 9.8rem;
      font-weight: 400;
      font-family: Architects Daughter, 'Source Sans Pro';
    }
    .min-preparation-rS1 {
      top: 21.4rem;
      line-height: 1.39;
      color: #000000;
      width: 12.4rem;
      height: 2rem;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: Architects Daughter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 6.7rem;
    }
    .min-cooking-xV3 {
      height: 2rem;
      position: absolute;
      top: 23.6rem;
      color: #000000;
      white-space: nowrap;
      width: 9.8rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.39;
      font-family: Architects Daughter, 'Source Sans Pro';
      left: 6.7rem;
    }
    .rectangle-5-53s {
      left: 30.7rem;
      top: 8.8rem;
      background-color: #eee3e7;
      border-radius: 2.1rem;
      width: 34.7rem;
      height: 3.8rem;
      position: absolute;
    }
    .rectangle-3-zRj {
      height: 61.7rem;
      position: absolute;
      left: 5.2rem;
      top: 38.9rem;
      background-color: #eee3e7;
      border-radius: 2.1rem;
      width: 19.3rem;
    }
    .rectangle-4-uob {
      background-color: #eee3e7;
      border-radius: 2.1rem;
      width: 34.7rem;
      height: 61.7rem;
      position: absolute;
      left: 30.5rem;
      top: 38.9rem;
    }
    .rectangle-2-qhF {
      position: absolute;
      left: 30.5rem;
      top: 15.8rem;
      background-color: #ead5dc;
      border-radius: 2.1rem;
      width: 34.7rem;
      height: 18.6rem;
    }
    .rectangle-6-YLm {
      top: 44.7rem;
      background-color: #eec9d2;
      border-radius: 1rem;
      width: 16.3rem;
      height: 3rem;
      position: absolute;
      left: 6.7rem;
    }
    .rectangle-23-sP3 {
      position: absolute;
      left: 31.8rem;
      top: 47.7rem;
      background-color: #eec9d2;
      border-radius: 1rem;
      width: 32.2rem;
      height: 0.2rem;
    }
    .rectangle-25-BPj {
      border-radius: 1rem;
      width: 32.2rem;
      height: 0.2rem;
      position: absolute;
      left: 31.8rem;
      top: 53.3rem;
      background-color: #eec9d2;
    }
    .rectangle-27-WB7 {
      width: 32.2rem;
      height: 0.2rem;
      position: absolute;
      left: 31.8rem;
      top: 58.9rem;
      background-color: #eec9d2;
      border-radius: 1rem;
    }
    .rectangle-29-RJ5 {
      position: absolute;
      left: 31.8rem;
      top: 64.5rem;
      background-color: #eec9d2;
      border-radius: 1rem;
      width: 32.2rem;
      height: 0.2rem;
    }
    .rectangle-31-kLM {
      left: 31.8rem;
      top: 70.1rem;
      background-color: #eec9d2;
      border-radius: 1rem;
      width: 32.2rem;
      height: 0.2rem;
      position: absolute;
    }
    .rectangle-33-gE1 {
      height: 0.2rem;
      position: absolute;
      left: 31.8rem;
      top: 75.7rem;
      background-color: #eec9d2;
      border-radius: 1rem;
      width: 32.2rem;
    }
    .rectangle-35-Qfo {
      width: 32.2rem;
      height: 0.2rem;
      position: absolute;
      left: 31.8rem;
      top: 81.3rem;
      background-color: #eec9d2;
      border-radius: 1rem;
    }
    .rectangle-37-vu3 {
      background-color: #eec9d2;
      border-radius: 1rem;
      width: 32.2rem;
      height: 0.2rem;
      position: absolute;
      left: 31.8rem;
      top: 86.9rem;
    }
    .rectangle-39-Tty {
      width: 32.2rem;
      height: 0.2rem;
      position: absolute;
      left: 31.8rem;
      top: 92.5rem;
      background-color: #eec9d2;
      border-radius: 1rem;
    }
    .rectangle-7-ze1 {
      background-color: #eec9d2;
      border-radius: 1rem;
      width: 16.3rem;
      height: 3rem;
      position: absolute;
      left: 6.7rem;
      top: 49.2rem;
    }
    .rectangle-8-8VK {
      width: 16.3rem;
      height: 3rem;
      position: absolute;
      left: 6.7rem;
      top: 53.7rem;
      background-color: #eec9d2;
      border-radius: 1rem;
    }
    .rectangle-9-fk9 {
      height: 3rem;
      position: absolute;
      left: 6.7rem;
      top: 58.2rem;
      background-color: #eec9d2;
      border-radius: 1rem;
      width: 16.3rem;
    }
    .rectangle-10-Ck5 {
      border-radius: 1rem;
      width: 16.3rem;
      height: 3rem;
      position: absolute;
      left: 6.7rem;
      top: 62.7rem;
      background-color: #eec9d2;
    }
    .rectangle-11-8td {
      border-radius: 1rem;
      width: 16.3rem;
      height: 3rem;
      position: absolute;
      left: 6.7rem;
      top: 67.2rem;
      background-color: #eec9d2;
    }
    .rectangle-12-rpd {
      height: 3rem;
      position: absolute;
      left: 6.7rem;
      top: 71.7rem;
      background-color: #eec9d2;
      border-radius: 1rem;
      width: 16.3rem;
    }
    .rectangle-13-C7o {
      left: 6.7rem;
      top: 76.2rem;
      background-color: #eec9d2;
      border-radius: 1rem;
      width: 16.3rem;
      height: 3rem;
      position: absolute;
    }
    .rectangle-14-KTK {
      left: 6.7rem;
      top: 80.7rem;
      background-color: #eec9d2;
      border-radius: 1rem;
      width: 16.3rem;
      height: 3rem;
      position: absolute;
    }
    .rectangle-40-TZX {
      border-radius: 1rem;
      width: 16.3rem;
      height: 3rem;
      position: absolute;
      left: 6.7rem;
      top: 85.2rem;
      background-color: #eec9d2;
    }
    .rectangle-16-o7b {
      background-color: #eec9d2;
      border-radius: 1rem;
      width: 16.3rem;
      height: 3rem;
      position: absolute;
      left: 6.7rem;
      top: 89.7rem;
    }
    .rectangle-17-XJV {
      top: 94.2rem;
      background-color: #eec9d2;
      border-radius: 1rem;
      width: 16.3rem;
      height: 3rem;
      position: absolute;
      left: 6.7rem;
    }
    .rectangle-15-3Xj {
      height: 3rem;
      position: absolute;
      left: 6.7rem;
      top: 85.2rem;
      background-color: #eec9d2;
      border-radius: 1rem;
      width: 16.3rem;
    }
    .rectangle-20-nER {
      background-color: #eec9d2;
      border-radius: 1rem;
      width: 16.3rem;
      height: 3rem;
      position: absolute;
      left: 6.7rem;
      top: 107.7rem;
    }
    .bgf8f8f8-flat750x075f-pad750x1000f8f8f8-1-hsB {
      width: 16.6814rem;
      height: 16.2517rem;
      position: absolute;
      left: 53.9rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .a0325-cute-hand-drawn-smiley-cloud-sticker-free-clipart-editable-vector-clipartify-4-ofK {
      top: 59.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 7.7163rem;
      height: 5.4681rem;
      position: absolute;
      left: 1rem;
    }
    .a0325-cute-hand-drawn-smiley-cloud-sticker-free-clipart-editable-vector-clipartify-5-JMB {
      width: 7.7163rem;
      height: 5.4681rem;
      position: absolute;
      left: 0;
      top: 55rem;
      object-fit: contain;
      vertical-align: top;
    }
    .group-1-Qf7 {
      width: 12.6022rem;
      height: 7.5681rem;
      position: absolute;
      left: 1rem;
      top: 0.7rem;
      display: flex;
      align-items: flex-start;

      .a0325-cute-hand-drawn-smiley-cloud-sticker-free-clipart-editable-vector-clipartify-1-jSV {
        vertical-align: top;
        flex-shrink: 0;
        margin: 2.1rem 0.584rem 0rem 0rem;
        width: 7.7163rem;
        height: 5.4681rem;
        object-fit: contain;
      }
      .a0325-cute-hand-drawn-smiley-cloud-sticker-free-clipart-editable-vector-clipartify-2-R4R {
        width: 4.3022rem;
        height: 4.2723rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .group-3-8Ud {
      left: 26.9rem;
      top: 100.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 12.0488rem;
      height: 7.6rem;
      position: absolute;
    }
    .group-2-exm {
      height: 7.5681rem;
      position: absolute;
      left: 59.1rem;
      top: 31.8rem;
      display: flex;
      align-items: flex-start;
      width: 12.6022rem;

      .a0325-cute-hand-drawn-smiley-cloud-sticker-free-clipart-editable-vector-clipartify-1-zWq {
        width: 7.7163rem;
        height: 5.4681rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 2.1rem 0.584rem 0rem 0rem;
      }
      .a0325-cute-hand-drawn-smiley-cloud-sticker-free-clipart-editable-vector-clipartify-2-HVw {
        height: 4.2723rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 4.3022rem;
      }
    }
    .a0325-cute-hand-drawn-smiley-cloud-sticker-free-clipart-editable-vector-clipartify-3-Cso {
      width: 4.3022rem;
      height: 4.2723rem;
      position: absolute;
      left: 36.7rem;
      top: 2.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .a0325-cute-hand-drawn-smiley-cloud-sticker-free-clipart-editable-vector-clipartify-6-Jvq {
      top: 55.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 4.4431rem;
      height: 4.4274rem;
      position: absolute;
      left: 66.0149rem;
    }
    .wm-removebg-preview-1-Dnu {
      position: absolute;
      left: 48.3rem;
      top: 91.1331rem;
      object-fit: cover;
      vertical-align: top;
      width: 23.9174rem;
      height: 20.1474rem;
    }
    .berry-removebg-preview-1-jWM {
      top: 85.2rem;
      object-fit: cover;
      vertical-align: top;
      width: 21.4843rem;
      height: 25.4966rem;
      position: absolute;
      left: 0;
    }
    .lemon-removebg-preview-1-GWH {
      left: 5.1rem;
      top: 92.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 15.9342rem;
      height: 19.36rem;
      position: absolute;
    }
    .vacado-removebg-preview-1-njX {
      width: 23.0657rem;
      height: 25.7475rem;
      position: absolute;
      left: 55.9rem;
      top: 70.8rem;
      object-fit: cover;
      vertical-align: top;
    }
    .star-removebg-preview-1-KUZ {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:929d50e20215536dede80dd4467a79347b437c0e');
      height: 5.6941rem;
      left: 17.5891rem;
      top: 3.0029rem;
      width: 5.5218rem;
      position: absolute;
    }
    .star-removebg-preview-2-285 {
      width: 3.3rem;
      left: 32.4rem;
      top: 1.7rem;
      background-position: center;
      height: 3.2rem;
      position: absolute;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:929d50e20215536dede80dd4467a79347b437c0e');
    }
    .star-removebg-preview-4-KN5 {
      width: 3.1402rem;
      left: 23.3299rem;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:929d50e20215536dede80dd4467a79347b437c0e');
      height: 3.0682rem;
      position: absolute;
      top: 13.5159rem;
      background-size: 100% 100%;
      background-position: center;
    }
    .star-removebg-preview-6-33B {
      height: 5.4645rem;
      position: absolute;
      left: 0.1654rem;
      top: 6.9178rem;
      width: 5.5693rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:929d50e20215536dede80dd4467a79347b437c0e');
    }
    .star-removebg-preview-7-ZXK {
      height: 3.4137rem;
      top: 25.9432rem;
      background-repeat: no-repeat;
      width: 3.5741rem;
      position: absolute;
      left: 0.6629rem;
      background-size: 100% 100%;
      background-position: center;
      background-image: url('REPLACE_IMAGE:929d50e20215536dede80dd4467a79347b437c0e');
    }
    .star-removebg-preview-8-tJh {
      background-image: url('REPLACE_IMAGE:929d50e20215536dede80dd4467a79347b437c0e');
      height: 3.7rem;
      position: absolute;
      left: 15.5rem;
      top: 34.8rem;
      background-position: center;
      width: 3.8rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .star-removebg-preview-9-CqB {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:929d50e20215536dede80dd4467a79347b437c0e');
      height: 4.9599rem;
      position: absolute;
      left: 24.0497rem;
      top: 37.2201rem;
      background-position: center;
      width: 5.1005rem;
    }
    .star-removebg-preview-17-iYd {
      background-image: url('REPLACE_IMAGE:929d50e20215536dede80dd4467a79347b437c0e');
      position: absolute;
      left: 66rem;
      background-repeat: no-repeat;
      background-position: center;
      width: 5.1rem;
      height: 4.9rem;
      top: 62.3rem;
      background-size: 100% 100%;
    }
    .star-removebg-preview-18-357 {
      width: 5.1rem;
      position: absolute;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      background-image: url('REPLACE_IMAGE:929d50e20215536dede80dd4467a79347b437c0e');
      height: 4.9rem;
      left: 64.5rem;
      top: 15.1rem;
    }
    .star-removebg-preview-10-AQd {
      width: 3.6rem;
      position: absolute;
      top: 67.6rem;
      background-position: center;
      background-image: url('REPLACE_IMAGE:929d50e20215536dede80dd4467a79347b437c0e');
      height: 3.5rem;
      left: 24.4rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .star-removebg-preview-11-fMP {
      top: 76.3584rem;
      width: 5.1613rem;
      position: absolute;
      left: 24.1612rem;
      background-position: center;
      background-image: url('REPLACE_IMAGE:929d50e20215536dede80dd4467a79347b437c0e');
      height: 5.2186rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .star-removebg-preview-13-nB7 {
      height: 3.4rem;
      left: 27.3rem;
      top: 104.1rem;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:929d50e20215536dede80dd4467a79347b437c0e');
      width: 3.5rem;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
    }
    .star-removebg-preview-14-VrD {
      position: absolute;
      left: 39.5rem;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:929d50e20215536dede80dd4467a79347b437c0e');
      width: 4.1777rem;
      height: 4.3157rem;
      top: 104.1rem;
      background-size: 100% 100%;
      background-position: center;
    }
    .star-removebg-preview-15-25T {
      position: absolute;
      top: 100.8943rem;
      background-image: url('REPLACE_IMAGE:929d50e20215536dede80dd4467a79347b437c0e');
      width: 3.7305rem;
      height: 3.8114rem;
      left: 47.2847rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .star-removebg-preview-16-wTK {
      background-position: center;
      background-image: url('REPLACE_IMAGE:929d50e20215536dede80dd4467a79347b437c0e');
      width: 3.3rem;
      height: 3.1rem;
      left: 50.8rem;
      background-size: 100% 100%;
      position: absolute;
      top: 104.7rem;
      background-repeat: no-repeat;
    }
    .star-removebg-preview-12-4Xw {
      top: 101.6rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:929d50e20215536dede80dd4467a79347b437c0e');
      width: 2.7495rem;
      height: 2.8293rem;
      position: absolute;
      left: 21.8rem;
    }
    .a0311-doodle-heart-free-clipart-editable-vector-clipartify-1-zRb {
      width: 6.6282rem;
      height: 6.6282rem;
      position: absolute;
      left: 22.9rem;
      top: 1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .a0311-doodle-heart-free-clipart-editable-vector-clipartify-2-JhB {
      position: absolute;
      left: 0;
      top: 67.9341rem;
      object-fit: contain;
      vertical-align: top;
      width: 6.6192rem;
      height: 6.6192rem;
    }
    .a0311-doodle-heart-free-clipart-editable-vector-clipartify-6-2dB {
      height: 5.4751rem;
      position: absolute;
      left: 0.1647rem;
      top: 32.6647rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.4751rem;
    }
    .a0311-doodle-heart-free-clipart-editable-vector-clipartify-4-9ho {
      width: 6.768rem;
      height: 6.768rem;
      position: absolute;
      left: 42.6597rem;
      top: 101.0597rem;
      object-fit: contain;
      vertical-align: top;
    }
    .a0311-doodle-heart-free-clipart-editable-vector-clipartify-5-UEH {
      top: 45.3548rem;
      object-fit: contain;
      vertical-align: top;
      width: 3.638rem;
      height: 3.638rem;
      position: absolute;
      left: 65.9rem;
    }
    .i-picked-these-mediterranean-stuffed-peppers-because-they-remind-me-of-athenas-wisdom-just-like-i-see-in-you-clever-and-insightful-the-mix-of-quinoa-feta-olives-and-tomatoes-not-only-makes-a-tasty-dish-but-also-represents-the-way-you-thoughtfully-blend-flavors-in-everything-you-do-BPb {
      width: 27.6rem;
      height: 10.1rem;
      position: absolute;
      top: 20.9rem;
      line-height: 1.39;
      color: #000000;
      left: 31.8rem;
      font-size: 1.2rem;
      font-weight: 400;
      font-family: Architects Daughter, 'Source Sans Pro';
    }
    .notes-x2y {
      position: absolute;
      line-height: 1.39;
      color: #626262;
      width: 5.3rem;
      height: 2.8rem;
      left: 31.8rem;
      top: 17.6rem;
      font-size: 2rem;
      font-weight: 400;
      font-family: Architects Daughter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .ingredients--fTB {
      font-size: 2rem;
      line-height: 1.39;
      color: #626262;
      font-family: Architects Daughter, 'Source Sans Pro';
      width: 10.1rem;
      position: absolute;
      top: 40.8rem;
      white-space: nowrap;
      height: 2.8rem;
      left: 6.7rem;
      font-weight: 400;
    }
    .ingredients--n21 {
      line-height: 1.39;
      white-space: nowrap;
      width: 10.1rem;
      position: absolute;
      top: 40.8rem;
      font-size: 2rem;
      font-weight: 400;
      height: 2.8rem;
      left: 32.7rem;
      color: #626262;
      font-family: Architects Daughter, 'Source Sans Pro';
    }
    .athenas-mediterranean-stuffed-peppers-VBK {
      top: 10rem;
      line-height: 1.39;
      color: #626262;
      font-family: Architects Daughter, 'Source Sans Pro';
      height: 1.7rem;
      position: absolute;
      font-size: 1.2rem;
      font-weight: 400;
      white-space: nowrap;
      width: 23.2rem;
      left: 32.4rem;
    }
    .large-bell-peppers-ysB {
      height: 2rem;
      font-size: 1.4rem;
      color: #000000;
      line-height: 1.39;
      font-family: Architects Daughter, 'Source Sans Pro';
      white-space: nowrap;
      width: 13.2rem;
      position: absolute;
      left: 8.3rem;
      top: 45.3rem;
      font-weight: 400;
    }
    .preheat-the-oven-to-375f-190c-tDT {
      font-family: Architects Daughter, 'Source Sans Pro';
      white-space: nowrap;
      width: 22.5rem;
      height: 2rem;
      left: 32.7rem;
      top: 45.3rem;
      font-weight: 400;
      position: absolute;
      font-size: 1.4rem;
      line-height: 1.39;
      color: #000000;
    }
    .cut-the-tops-off-the-bell-peppers-and-remove-seeds-and-membranes-Agm {
      top: 49.5rem;
      width: 30.5rem;
      height: 3.9rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.39;
      color: #000000;
      font-family: Architects Daughter, 'Source Sans Pro';
      position: absolute;
      left: 32.7rem;
    }
    .in-a-large-bowl-mix-cooked-quinoa-feta-cheese-olives-tomatoes-olive-oil-and-herbs-SPP {
      line-height: 1.39;
      color: #000000;
      width: 31rem;
      position: absolute;
      left: 32.7rem;
      top: 54.9rem;
      height: 3.9rem;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: Architects Daughter, 'Source Sans Pro';
    }
    .stuff-each-bell-pepper-with-the-quinoa-mixture-ibo {
      width: 30.9rem;
      height: 2rem;
      left: 32.7rem;
      font-weight: 400;
      line-height: 1.39;
      white-space: nowrap;
      position: absolute;
      top: 61.5rem;
      font-size: 1.4rem;
      color: #000000;
      font-family: Architects Daughter, 'Source Sans Pro';
    }
    .place-the-stuffed-peppers-in-a-baking-dish-and-bake-for-30-35-minutes-chB {
      color: #000000;
      width: 31.1rem;
      position: absolute;
      left: 32.7rem;
      font-weight: 400;
      font-family: Architects Daughter, 'Source Sans Pro';
      height: 3.9rem;
      top: 66.1rem;
      font-size: 1.4rem;
      line-height: 1.39;
    }
    .serve-warm-and-garnish-with-additional-herbs-if-desired-uRP {
      position: absolute;
      left: 32.7rem;
      top: 71.7rem;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: Architects Daughter, 'Source Sans Pro';
      width: 29.5rem;
      height: 3.9rem;
      line-height: 1.39;
      color: #000000;
    }
    .cup-cooked-quinoa-CvH {
      width: 12.9rem;
      position: absolute;
      font-weight: 400;
      line-height: 1.39;
      color: #000000;
      white-space: nowrap;
      height: 2rem;
      left: 8.4rem;
      top: 49.7rem;
      font-size: 1.4rem;
      font-family: Architects Daughter, 'Source Sans Pro';
    }
    .cup-feta-cheese-j9X {
      height: 2rem;
      line-height: 1.39;
      color: #000000;
      font-family: Architects Daughter, 'Source Sans Pro';
      width: 11.7rem;
      position: absolute;
      left: 9rem;
      top: 54.5rem;
      font-size: 1.4rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .cup-chopped-olives-Ery {
      left: 7.6rem;
      font-weight: 400;
      width: 14.5rem;
      height: 2rem;
      font-size: 1.4rem;
      line-height: 1.39;
      color: #000000;
      font-family: Architects Daughter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 58.7rem;
    }
    .tablespoons-olive-oil-9j3 {
      font-weight: 400;
      line-height: 1.39;
      color: #000000;
      width: 14rem;
      height: 2rem;
      position: absolute;
      left: 7.9rem;
      font-size: 1.4rem;
      font-family: Architects Daughter, 'Source Sans Pro';
      top: 67.9rem;
      white-space: nowrap;
    }
    .mediterranean-herbs-rtM {
      font-weight: 400;
      font-family: Architects Daughter, 'Source Sans Pro';
      white-space: nowrap;
      width: 13.6rem;
      position: absolute;
      left: 8.3rem;
      top: 72.2rem;
      font-size: 1.4rem;
      line-height: 1.39;
      color: #000000;
      height: 2rem;
    }
    .salt-and-pepper-to-taste-mkR {
      line-height: 1.39;
      color: #000000;
      width: 15rem;
      height: 1.9rem;
      position: absolute;
      left: 7.6rem;
      font-size: 1.3rem;
      top: 76.8rem;
      font-weight: 400;
      font-family: Architects Daughter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .cup-diced-cherry-tomatoes-t4M {
      font-weight: 400;
      line-height: 1.39;
      color: #000000;
      font-family: Architects Daughter, 'Source Sans Pro';
      width: 14.7rem;
      height: 1.6rem;
      position: absolute;
      left: 7.5rem;
      top: 63.6rem;
      font-size: 1.1rem;
      white-space: nowrap;
    }
  }
  .star-removebg-preview-5-NkD {
    background-image: url('REPLACE_IMAGE:929d50e20215536dede80dd4467a79347b437c0e');
    flex-shrink: 0;
    margin: 13.6rem 26.5rem 0rem 0rem;
    width: 5.1rem;
    height: 4.9rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .auto-group-z93q-gW1 {
    margin: 23.4rem 12.1rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .star-removebg-preview-3-QB7 {
      background-position: center;
      background-image: url('REPLACE_IMAGE:929d50e20215536dede80dd4467a79347b437c0e');
      flex-shrink: 0;
      margin: 0rem 0rem 35.231rem 3.854rem;
      width: 5.1rem;
      height: 4.9rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .a0311-doodle-heart-free-clipart-editable-vector-clipartify-3-K3B {
      height: 5.0874rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 5.0874rem;
    }
  }
}
